.photo-grid__caption {
  margin: 25px 0 31px 21px;
  max-width: 185px;
  font-family:  var(--primary-font);
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: var(--photo-grid__captions-text-color);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width:1024px) and (max-width: 1280px) {
  .photo-grid__caption {
    max-width: calc(160px + ((-1024px + 100vw) * 0.058));
  }
}

@media (min-width:768px) and (max-width: 1023px) {
  .photo-grid__caption {
    max-width: calc(185px + ((-767px + 100vw) * 0.285));
  }
}

@media (max-width: 767px) {
  .photo-grid__caption {
    max-width: calc(166px + ((-320px + 100vw) * 0.52));
    font-family: 'Inter';
  }
}
