.profile__edit-button {
  position: relative;
  min-height: 24px;
  color: var(--primary-text-color);
  text-decoration: none;
  user-select: none;
  padding: 0 10px;
  outline: none;
  border: 2px solid;
  background-color: var(--primary-full-opacity);
  align-self: center;
  margin: 25px 0 0 18px;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__edit-button:before {
  position: absolute;
  content: "";
  width: 10px;
  min-height: 10px;
  background: url("../../../images/buttons/edit.svg");
  top: 5px;
  left: 5px;

}

@media (max-width: 1023px) {
  .profile__edit-button {
    min-height: calc(18px + ((-320px + 100vw) * 0.0085));
    margin: 0 0 0 10px;
    min-height: 18px;
    padding: 0 8px;
  }

  .profile__edit-button:before {
    width: 7.5px;
    min-height: 7.5px;
    background: url("../../../images/buttons/edit.svg");
    top: 3px;
    left: 4.5px;
    background-size: 100%;
  }
}
