.popup__input {
  margin: 54px 36px 0 36px;
  border: 0;
  padding: 0;
  width: 358px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--editForm-text-color);
  padding-bottom: 13px;
  border-bottom: 1px solid #00000033;
}

@media (max-width: 1023px) {
  .popup__input {
    margin: calc(75px + ((320px - 100vw) * 0.029)) calc(22px + ((-320px + 100vw) * 0.019)) 0 calc(22px + ((-320px + 100vw) * 0.019));
    width: calc(238px + ((-320px + 100vw) * 0.17));
  }
}

