.popup__container {
  margin: 0;
  width: 430px;
  background-color: var(--background-editForm-color);
  border-radius: 10px;
  display: flex;
  flex-flow: column;
}

@media (max-width: 1023px) {
  .popup__container {
    width: calc(282px + ((-320px + 100vw) * 0.21));
  }
}

