.header__logo {
  max-width: 142px;
  margin: 0;
  object-fit: cover;
  display: block;
}

@media (max-width: 1280px) {
  .header__logo {
    max-width: calc(103.74px + ((-320px + 100vw) * 0.041));
    margin: 0 0 0 calc(27px + ((320px - 100vw) * 0.0281));
  }
}

