.footer__author {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--primary-foter-header);
  margin: 0 0 60px 0;
}

@media (max-width: 1280px) {
  .footer__author {
    font-size: calc(14px + ((-320px + 100vw) * 0.0041));
    line-height: calc(16.94px + ((-320px + 100vw) * 0.0052));
    margin: 0 0 calc(36px + ((-320px + 100vw) * 0.025)) 0;
  }
}
