.popup-image {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 100%;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility 0s .2s;

}
