
.popup__form:nth-child(3) {
  margin: 30px 36px 0 36px;
}

@media (max-width: 1023px) {
  .popup__form:nth-child(3) {
    margin: 30px calc(22px + ((-320px + 100vw) * 0.019)) 0 calc(22px + ((-320px + 100vw) * 0.019));
  }
}
