.popup__error-caption {
  position: relative;
  display: block;
}

.popup__error-caption::before {
  position: absolute;
  color: var(--color-of-eror-form);
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  left: 36px;
  padding-top: 5px;
  width: 80%;

}

@media (max-width: 1023px) {
  .popup__error-caption::before {
    left: calc(22px + ((-320px + 100vw) * 0.019));
  }
}
