.photo-grid__caption-image {
  margin: 22px 20px 2px auto;
  width: 22px;
  height: 19px;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 0;
  cursor: pointer;
  border: none;
  font: inherit;
  background-color: transparent;
  background-image: url(../../..///images/photo-grid/caption-image-disabled.svg);
}

.photo-grid__caption-image:hover {
  opacity: 0.5;
}

@media (max-width: 767px) {
  .photo-grid__caption-image {
    margin: 30px calc(30px + ((320px - 100vw) * 0.0022)) 7px auto;
  }
}
