.profile__caption {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--primary-text-color);
  margin: 7px 0 0 0;
  flex: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 336px;
}

@media (max-width: 1023px) {
  .profile__caption {
    text-align: center;
    margin: 14px 0 0 0;
    width: calc(270px + ((-320px + 100vw) * 0.076));
    font-size: calc(14px + ((-320px + 100vw) * 0.0055));
    line-height: calc(17px + ((-320px + 100vw) * 0.0071));
  }
}
