.profile__name {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: var(--primary-text-color);
  margin: 33px 0px 0px 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 294px;
}

@media (max-width: 1023px) {
  .profile__name {
    font-size: calc(27px + ((-320px + 100vw) * 0.021));
    line-height: calc(33px + ((320px - 100vw) * 0.004));
    margin: 0;
    width: calc(189px + ((-320px + 100vw) * 0.149));
  }
}
