.popup__save-btn {
  margin: 48px 36px 37px 36px;
  width: 358px;
  min-height: 50px;
  border-radius: 2px;
  background-color: #000;
  color: white;
  border: none;
  cursor: pointer;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

}

@media (max-width: 1023px) {
  .popup__save-btn {
    margin: calc(45px + ((-320px + 100vw) * 0.004)) calc(22px + ((-320px + 100vw) * 0.019)) calc(25px + ((-320px + 100vw) * 0.017)) calc(22px + ((-320px + 100vw) * 0.019));
    width: calc(238px + ((-320px + 100vw) * 0.17));
    font-size: calc(14px + ((-320px + 100vw) * 0.005));
    line-height: calc(17px + ((-320px + 100vw) * 0.007));
    min-height: calc(44px + ((-320px + 100vw) * 0.0084));
  }
}

.popup__save-btn:hover {
  opacity: 0.8;
}





