.popup__close-btn {
  top: -40px;
  left: 438px;
  width: 32px;
  min-height: 32px;
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 0;
  background-image: url(../../../images/buttons/сlose_icon.svg);
  position: relative;
  cursor: pointer;
  border: none;
  font: inherit;
  background-color: transparent;
}

.popup__close-btn:hover {
  opacity: .6;
}

@media (max-width: 1023px) {
  .popup__close-btn {
    top: calc(-38px + ((-320px + 100vw) * 0.011));
    width: calc(20px + ((-320px + 100vw) * 0.017));
    left: calc(262px + ((-320px + 100vw) * 0.25))
  }
}
