.photo-grid__button-delete {
  display: none;
  position: absolute;
  bottom: 89.2%;
  left: 86.52%;
  width: 18px;
  height: 19px;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 0;
  cursor: pointer;
  border: none;
  font: inherit;
  background-color: transparent;
  background-image: url(../../..///images/buttons/delete.svg);
}

.photo-grid__button-delete:hover {
  opacity: 0.5;
}
